/* //////////////////////////////// */
/* media cards */
.media-cards {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

/* card list */
.card-list {
  width: 100%;
  height: 100%;
  gap: 1.5rem;
  padding: 0 1rem;
}

/* card items */
.list-item {
  width: 100%;
  height: 5rem;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  position: relative;
}

.list-item:hover {
  background-color: var(--main-t-color);
}

.list-item > a p {
  transition: color ease-in-out 0.5s; /* Glađi prijelaz boje za tekst */
}

.list-item:hover p {
  color: var(--main-bg-color);
}

.list-item > a {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  gap: 1rem;
  padding: 0 5rem 0 2rem;
}

/* clip backgrounds settings for media icons */
.fa-instagram {
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-whatsapp {
  background: linear-gradient(45deg, #25d366, #128c7e, #075e54);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-at {
  background: linear-gradient(45deg, #ea4335, #fbbc05, #34a853, #4285f4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-phone {
  background: linear-gradient(45deg, #34c759, #4a90e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-file-pdf {
  background: linear-gradient(45deg, #ff0000, #bdbdbd, #757575);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-location-dot {
  background: linear-gradient(45deg, #007bff, #28a745);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Transition for icons and text */
.fa-instagram,
.fa-whatsapp,
.fa-at,
.fa-file-pdf,
.fa-location-dot,
.fa-phone {
  transition: color 0.5s ease-in-out, -webkit-text-fill-color 0.5s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hover effect for entire .list-item */
.list-item:hover .fa-instagram,
.list-item:hover .fa-whatsapp,
.list-item:hover .fa-at,
.list-item:hover .fa-file-pdf,
.list-item:hover .fa-location-dot,
.list-item:hover .fa-phone {
  -webkit-text-fill-color: var(--main-bg-color);
}

.list-item:hover p {
  color: var(--main-bg-color);
}
/* //////////////////////////////// */
